
DB_HOST=db.<project-ref>.supabase.co
DB_PORT=5432
DB_NAME=postgres
DB_USER=postgres
DB_PASS=<your-db-password>
DB_SCHEMA=public


SUPABASE_URL=https://<project-ref>.supabase.co
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_KEY=


APP_SECRET=muda-isto-para-uma-string-aleatoria




APP_ENV=local
